@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-map::after {
    @apply absolute bottom-0 right-0 xl:bottom-24 xl:-right-36 w-full h-full -z-10;
    content: "";
    background-image: url(/images/pattern-bg.png);
    background-position: 60% 100%;
    background-repeat: no-repeat bottom;
    background-size: cover;
  }

  .feature-pattern {
    background-image: url(/images/feature-bg.png);
  }

  .guide-bg {
    @apply bg-no-repeat bg-center bg-cover;
    background-image: url(/images/boat.png);
  }
}
