@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-map::after {
    @apply absolute bottom-0 right-0 xl:bottom-24 xl:-right-36 w-full h-full -z-10;
    content: "";
    background-image: url(/images/pattern-bg.png);
    background-position: 60% bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
